
body{
    background-image: url(../Img/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.owl-container{
    max-width:auto;
    margin: auto;
    
    
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35%;
    margin-left: 5%;
    margin-right: 5%;
    
    
    
}