
body{
    background-image: url(../Img/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.owl-container{
    max-width: 900;
    margin: auto;
    
    
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}