* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

body{
    background-image: url(../Img/Background3-min.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

.owl-container{
    max-width:auto;
    margin: auto;
    
    
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    
    
    
}

.item img {
    height: auto !important;
    width: auto !important;
}

.dealstab{
    color: whitesmoke;
    margin-top: 15%;
    margin-left: 10%;
}

.owl-nav{
    position: absolute;
    top: 20rem;
    right: 15rem;
    color: whitesmoke;
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover{
    background: none !important;
    outline: none !important;
    opacity: 1;
}

.section{
    padding: 75px 45px 75px 45px;
}

.custom-navbar {
    padding-top: 0px;
}
.custom-navbar{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: rgba(255, 255, 255, 0.8);

}
.logo {
    height: 100px;
    width: auto;
}