* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: lato, sans-serif;
}

body{
    background-image: url(../Img/Background3-min.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

/* Corosal*/

.owl-container{
    max-width:auto;
    margin: auto;
    
    
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 5%;
    margin-right: 5%;
    
    
    
}

.item img {
    height: auto !important;
    width: auto !important;
}

.dealstab{
    color: whitesmoke;
    margin-top: 15%;
    margin-left: 10%;
}

.owl-nav{
    position: absolute;
    top: 20rem;
    right: 15rem;
    color: whitesmoke;
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover{
    background: none !important;
    outline: none !important;
    opacity: 1;
}

/*Nav*/

.hidden {
    display: none;
}

.nav1 {
    margin-top: 46px;
    margin-bottom: 144px;
    margin-left: 75px;
    margin-right: 157px;
}