@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: lato, sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  background-image: url(../Img/Background3-min.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.nav1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  padding: 15px !important;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: 0.2s;
}

.nav-link:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.container {
  margin-top: 100px;
  background: #fbfbfb;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.15);
  border-radius: 8px;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding: 30px 60px;
}

.header h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  color: #153044;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 30px;
}

.from-to {
  border: 1px solid rgba(92, 111, 122, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.from-parent {
  padding: 9px 15px;
  border-right: 1px solid rgba(92, 111, 122, 0.4);
}

.caption {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;

  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 3px;
}

.from-input {
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
}

.from-input:focus {
  outline: none;
}

.flex-center-hr {
  display: flex;
  align-items: center;
}

.to {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0px;
  margin-right: 45px;
  color: rgba(0, 0, 0, 0.8);
}

.to-parent {
  padding-left: 30px;
  padding-right: 30px;
}

.depart-date{
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0px;
  margin-right: 45px;
  color: rgba(0, 0, 0, 0.8);
}

.date-hold{
  padding-left: 30px;
  padding-right: 30px;
}

.date input[type="text"],
.date input[type="date"] {
}
