<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>DEA.PhoniexAirlines.Admin.servlet.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogout</servlet-name>
        <servlet-class>DEA.PhoniexAirlines.Admin.servlet.adminlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stafflogin</servlet-name>
        <servlet-class>DEA.PhoniexAirlines.Staff.servlet.stafflogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stafflogout</servlet-name>
        <servlet-class>DEA.PhoniexAirlines.Staff.servlet.stafflogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clientlogin</servlet-name>
        <servlet-class>DEA.PhoniexAirlines.Client.servlet.clientlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clientlogout</servlet-name>
        <servlet-class>DEA.PhoniexAirlines.Client.servlet.clientlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>DEA.PhoniexAirlines.ClientRegistration.registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffregistration</servlet-name>
        <servlet-class>DEA.PhoniexAirlines.Staff.servlet.staffregistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requests</servlet-name>
        <servlet-class>DEA.PhoniexAirlines.Staff.servlet.requests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffmod</servlet-name>
        <servlet-class>DEA.PhoniexAirlines.Staff.servlet.staffmod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>DEA.PhoniexAirlines.Staff.servlet.update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/admin/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogout</servlet-name>
        <url-pattern>/admin/adminlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stafflogin</servlet-name>
        <url-pattern>/Staff/stafflogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stafflogout</servlet-name>
        <url-pattern>/Staff/stafflogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clientlogin</servlet-name>
        <url-pattern>/Client/clientlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clientlogout</servlet-name>
        <url-pattern>/Client/clientlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/Client/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffregistration</servlet-name>
        <url-pattern>/Staff/staffregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requests</servlet-name>
        <url-pattern>/admin/requests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffmod</servlet-name>
        <url-pattern>/admin/staffmod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/admin/update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
